@use '../../sass/utils' as utils;

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: utils.pxToRem(8px);
  position: relative;
  padding: utils.pxToRem(6px);
  transition:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke 200ms cubic-bezier(0.4, 0, 0.2, 1);

  svg {
    stroke: var(--gray-600);
  }

  &:hover {
    background: var(--gray-100);

    svg {
      stroke: var(--gray-700);
    }
  }

  &:active {
    background: var(--gray-200);
  }

  &.md {
    svg {
      width: utils.pxToRem(24px);
      height: utils.pxToRem(24px);
    }
  }

  &.lg {
    svg {
      width: utils.pxToRem(32px);
      height: utils.pxToRem(32px);
    }
  }

  .tooltip {
    position: absolute;
    top: utils.pxToRem(-32px);
    border-radius: utils.pxToRem(8px);
    background: var(--gray-200);
    font-size: utils.pxToRem(14px);
    line-height: utils.pxToRem(20px);
    padding: {
      top: utils.pxToRem(4px);
      bottom: utils.pxToRem(4px);
      right: utils.pxToRem(8px);
      left: utils.pxToRem(8px);
    }
  }
}
