@use '../../sass/utils' as utils;
@use '../../sass/variables' as variables;

.headerMenu {
  background-color: var(--gray-default);
  border-bottom: 1px solid var(--gray-100);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: utils.pxToRem(10px);
  padding: utils.pxToRem(16px);
  max-width: utils.pxToRem(1280px);
  margin: 0 auto;
}

.logo {
  width: fit-content;
  text-wrap: nowrap;
}

.rightContainer {
  display: none;
}

.headerLinks {
  display: none;

  .link {
    color: var(--gray-600);
    font-weight: 500;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--gray-900);
    }

    &:active {
      color: var(--gray-600);
    }
  }
}

.divider {
  width: 2px;
  height: utils.pxToRem(24px);
  background: var(--gray-100);
}

.headerButtons {
  display: flex;
  gap: utils.pxToRem(16px);
  align-items: center;
}

@media only screen and (min-width: variables.$tablet-min-width) {
  .navContainer {
    padding: utils.pxToRem(16px) utils.pxToRem(32px);
  }

  .rightContainer {
    display: flex;
    gap: utils.pxToRem(24px);
    align-items: center;
  }

  .headerLinks {
    display: flex;
    gap: utils.pxToRem(24px);
    align-items: center;
  }

  .hamburguerBtn {
    display: none;
  }
}
