@use '../../sass/utils' as utils;
@use '../../sass/variables' as variables;

.headerMenu {
  padding: 0 utils.pxToRem(16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: utils.pxToRem(10px);
  height: utils.pxToRem(68px);
}

.logo {
  width: fit-content;
  text-wrap: nowrap;
}

.hamburguerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: unset;
  padding: 6px;

  svg {
    width: utils.pxToRem(24px);
    height: utils.pxToRem(24px);
  }
}

.navContainer {
  display: none;
}

.headerLinks {
  display: none;
}

.divider {
  width: 2px;
  height: utils.pxToRem(24px);
  background: var(--gray-100);
}

.headerButtons {
  display: flex;
  gap: utils.pxToRem(16px);
  align-items: center;
}

@media only screen and (min-width: variables.$tablet-min-width) {
  .navContainer {
    display: flex;
    gap: utils.pxToRem(24px);
    align-items: center;
  }

  .headerLinks {
    display: flex;
    gap: utils.pxToRem(24px);
    align-items: center;
  }

  .hamburguerBtn {
    display: none;
  }
}
