@use '../app/sass/utils' as utils;
@use '../app/sass/variables' as variables;

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
}

.section {
  display: flex;
  flex-direction: column;
  gap: utils.pxToRem(48px);
  font-size: utils.pxToRem(16px);
  padding: {
    top: utils.pxToRem(64px);
    bottom: utils.pxToRem(64px);
    left: utils.pxToRem(16px);
    right: utils.pxToRem(16px);
  }

  &:nth-of-type(odd) {
    background-color: var(--gray-default);
  }

  &:nth-of-type(even) {
    background-color: var(--gray-50);
  }

  @media only screen and (min-width: variables.$tablet-min-width) {
    padding: {
      top: utils.pxToRem(80px);
      bottom: utils.pxToRem(80px);
    }
  }
}

.heroImageContainer {
  height: utils.pxToRem(300px);
  width: utils.pxToRem(280px);
  position: relative;
  align-self: center;

  .heroImage {
    z-index: 1;
    position: absolute;
    width: utils.pxToRem(240px);
    height: utils.pxToRem(280px);
    border: utils.pxToRem(8px) solid var(--gray-default);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .heroImageFrame {
    position: absolute;
    width: utils.pxToRem(280px);
    height: utils.pxToRem(280px);
    background-color: var(--gray-200);
    top: utils.pxToRem(20px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: utils.pxToRem(32px);

  .heroTextContainer {
    display: flex;
    flex-direction: column;
    gap: utils.pxToRem(8px);

    .handEmoji {
      display: none;

      @media only screen and (min-width: variables.$mobile-min-width) {
        display: inline-block;
      }
    }
  }

  .iconDataContainer {
    display: flex;
    flex-direction: column;
    gap: utils.pxToRem(8px);

    .iconData {
      display: flex;
      align-items: center;
      gap: utils.pxToRem(8px);
    }

    .availableIconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: utils.pxToRem(24px);
      height: utils.pxToRem(24px);
    }

    .availableIconSubContainer {
      position: relative;
      width: utils.pxToRem(12px);
      height: utils.pxToRem(12px);
      display: flex;
    }

    .availableIconPing {
      width: 100%;
      height: 100%;
      position: absolute;
      animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
      background-color: var(--emerald-400);
      opacity: 0.75;
      border-radius: 50%;
    }

    .availableIcon {
      width: utils.pxToRem(12px);
      height: utils.pxToRem(12px);
      background-color: var(--emerald-500);
      border-radius: 50%;
    }
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
