@use '../../sass/utils' as utils;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  color: var(--gray-50);
  line-height: utils.pxToRem(24px);

  background: var(--gray-900);
  border-radius: utils.pxToRem(12px);
  padding: utils.pxToRem(6px) utils.pxToRem(16px);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: var(--gray-700);
  }

  &:active {
    background: var(--gray-800);
  }
}
